# Frontend runtime
VITE_API_PORT=3187
VITE_API_FQDN=http://localhost:3187
VITE_FQDN=http://localhost:5187
VITE_LOGIN_REDIRECT_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176
VITE_LOGIN_REDIRECT_SCHEMES=celesti

# Cognito auth
VITE_COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_USER_POOL_DOMAIN=your-domain.auth.us-east-1.amazoncognito.com
